/*============RESET===========*/

/*-----FORMULÁRIOS------*/

input, select, option {border-radius: 5px; border-style: solid 1px; width: 20%; height: 25px; font-size: 20px; font-family: Lato;}


/*----------------------*/

/*ESTILO DAS FONTES*/

h1,h2,h3 {
 			margin:0;
 			font-family: Lato, "Roboto Slab", Helvica, Arial, sans-serif;
 		 }

body {
	 	 background-color: #f1f1f1;
	 	 font-family: Lato, "Open Sans", Helvetica, Arial, sans-serif;
		  color: #4d4d4d;
		  text-align: center;
     }

/*TAMANHO DAS FONTES*/
h1{font-size: 50px;}
h2{font-size: 30px;}
h6{font-size: 10px;}
p{font-size: 20px; text-align: center;}

a {
    text-decoration: none;
  }
/*MENU*/
 nav{
 		display:flex;
 		align-items: center;
    }

nav ul li { display: inline; }

nav ul li a{
			   background-color: #8A0808;
			   color: white;
			   padding: 14px 25px;
			   text-align: center;
			   text-decoration: none;
			   display: inline-block;
			   border-radius: 15px;
			}

/* CABEÇALHO / MENU*/
header {
			/*background-image: url('../img/logo.png');*/
			background-size: auto;
			background-position: left;
			background-repeat: no-repeat;
			background-color: #f1f1f1;
			color: #800080;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			font-size: 25px;
			padding: 50px;
			padding-top: 50px;
		}

/*FOOTER - RODAPÉ*/

footer{margin-top: 60px}

/*RESPONSIVO*/
@media screen and (max-width: 960px){}
@media screen and (max-width: 768px){}
@media screen and (max-width: 480px){}
@media screen and (max-width: 320px){}



/*Login.html*/
#loginE #loginEmpresa h1{margin-top: 50px;}

#loginA #loginAluno h1{margin-top: 50px;}
/* CadastroEmpresa.html*/

#formulario #informacoesGerais h2{margin-top: 50px;}

#formulario #endereco h2{margin-top: 50px;}

#formulario #contato h2{margin-top: 50px;}

#formulario #objetivo h2{margin-top: 50px;}

/*FORMATANDO OS BOTÕES*/
#formA, #formE, #buttom input[type="submit"]{ 
								border:1px solid green;
					    		text-decoration:none;
					    		font-family:Lato, "Roboto Slab", Helvica, Arial, sans-serif;
					    		color:green;
					    		margin-top: 30px;
					    		font-size: 25px;
					    		height: auto;
							}
#buttom input[type="reset"]{ 
								border:1px solid red;
					    		text-decoration:none;
					    		font-family:Lato, "Roboto Slab", Helvica, Arial, sans-serif;
					    		color:red;
					    		height: : auto;
					    		margin-top: 30px;
					    		font-size: 25px;
					    		height: auto;
							}